body {
  font-family: 'Poppins', 'Roboto', Arial, Helvetica, sans-serif !important;
  color: #333 !important;

}

:root {
  --red: #d33a2c;
  --darkbg: #051626;
  --accent: #2FB9A3;
}
/* var(--blue) */
@keyframes reveal {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.styled p {
  margin: 8px 0;
}
.styled h2 {margin: 20px 0;}
.styled h4 {margin: 10px 0;}

.accordion-show {
  display: block;
  animation: reveal .5s
}

svg { transition: transform 0.2s ease-in;
	}
[aria-expanded=true] svg { transform: rotate(0.25turn); }



h2.big-title{
  font-size:48px;
  font-weight: bold;
}
h2{
  font-size:48px;
  font-weight: bold;
}

h4.title{
  font-size: 28px;
  font-weight: bold;
}
h4{
  font-size: 28px;
  font-weight: bold;
}
h4.title>span{
  font-size: 18px;
  font-weight: normal;
  opacity: .5;
}

.method, .figmalink{
  text-decoration: underline;
  color: var(--accent);
}

.figmaimg{
  height: 24rem;
  margin: 24px auto;
  border: 1px #ddd solid;
}

/* .participants{
  display: flex;
  flex-wrap: wrap;
} */
.participants li {
  margin-right: 1rem;
  white-space: nowrap;
}

.question{
  font-size: 20px;
}

h5.sub-title{
  font-size: 20px;
  
}


.ideas li {
  display: flex;
  align-items: center;
  margin-bottom: 6rem;
}
.ideas div{
  max-width: 28rem;
}

.illu{
  width: 10rem !important;
  max-height: 10rem !important;
  margin-right: 1rem;
}

.mini-title{
  text-transform: uppercase;
  margin: .5rem 0;
  font-size: 18px;
  color: var(--red)
}

.ideas>li>div>p:nth-child(2) {
  font-style: italic;
}

.other-ideas li {
  margin-bottom: 1rem;
  font-style: italic;
}

.other-ideas {
  margin-bottom: 4rem;
}

ul{
  list-style:inside !important;
}
